body {background-color: #ebf3fb;
font-family: 'Alegreya Sans SC', sans-serif;
margin: 0;

text-align: center;}

.menu {background-color: #90d9fb; height: 220px;}
.profile{margin-top: 50px}


.title{font-size: 3em; color: #9a0680;}
.page_break{height: 250px}

h3 {font-family: 'Mochiy Pop One', sans-serif;}
h1 {font-family: 'Licorice', cursive;}

hr {border: 8px; width: 15%; border-style: dotted none none; border-color: #c4b3cf;}

.bottom-container {background-color: #90d9fb; height: 100px; padding: 20px}

.education-row {margin: auto;
  width: 50%;
}

.coding-row {margin: auto;}
.graduation-hat{margin:0px; padding:0px;}
