a:link {
  color: #406f91;
}

/* visited link */
a:visited {
  color: #406f91;
}

/* mouse over link */
a:hover {
  color: #dc93b4;
}

/* selected link */
a:active {
  color: #abe0c3;
}

.menu {
  background-color: #90d9fb;
  height: auto;
  padding: 1%;
}

.main_section {
  padding: 1.5%
}

.profile {
  margin-top: 3%
}

.title {
  font-size: 3em;
  color: #9a0680;
}

.bottom-container {
  background-color: #90d9fb;
  height: 200px;
  padding: 20px
}

.education-row {
  margin: auto;
  width: 50%;
}

.coding-row {
  margin: auto;
  width: 50%
}

.graduation-hat {
  margin: 0px;
  padding: 0px;
}

.bootstrap {
  padding-left: 5px
}

.accordion-body {
  text-align: center;
}

.education-row {
  border: 0px
}

body {
  background-color: white;
  font-family: 'Alegreya Sans SC', sans-serif;
  margin: 0;
  text-align: center;
  text-transform: lowercase;
  font-size: +2;
}

h1 {
  font-family: 'Licorice', cursive;
}

h3 {
  font-family: 'Mochiy Pop One', sans-serif;
}

h6 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 0.75em
}

hr {
  margin: auto;
  border: 10px;
  width: 50%;
  border-style: dotted none none;
  background-color: white;
  border-color: #c4b3cf;
}

.wrapper {
  height: auto;
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  width: 21ch;
  animation: typing 3s steps(21), blink .5s;
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

.social_icon {
  margin: 1%
}



.btn-outline-light {
  color: #dc93b4;
  border-color: #ebf3fb
}
